openapi: 3.0.0
info:
  title: Promptdown Contracts API
  description: API de contratos para Promptdown
  version: 1.0.0
  contact:
    name: Support
    email: support@promptdown.com

servers:
  - url: https://api.promptdown.com/v1
    description: Production
  - url: https://staging-api.promptdown.com/v1
    description: Staging
  - url: http://localhost:3000/v1
    description: Development

paths:
  /contracts:
    get:
      summary: Lista todos os contratos
      operationId: listContracts
      tags:
        - Contracts
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Lista de contratos
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Contract'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

    post:
      summary: Cria um novo contrato
      operationId: createContract
      tags:
        - Contracts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateContractRequest'
      responses:
        '201':
          description: Contrato criado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contract'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /contracts/{id}:
    get:
      summary: Obtém um contrato específico
      operationId: getContract
      tags:
        - Contracts
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Contrato encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contract'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    patch:
      summary: Atualiza um contrato
      operationId: updateContract
      tags:
        - Contracts
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateContractRequest'
      responses:
        '200':
          description: Contrato atualizado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contract'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'

    delete:
      summary: Deleta um contrato
      operationId: deleteContract
      tags:
        - Contracts
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Contrato deletado com sucesso
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

components:
  schemas:
    Contract:
      type: object
      required:
        - id
        - title
        - status
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
          format: uuid
          description: ID único do contrato
        title:
          type: string
          description: Título do contrato
          minLength: 1
          maxLength: 255
        description:
          type: string
          description: Descrição detalhada do contrato
          nullable: true
        status:
          type: string
          enum:
            - draft
            - active
            - archived
            - expired
          description: Status do contrato
        content:
          type: string
          description: Conteúdo principal do contrato
          nullable: true
        terms:
          type: object
          description: Termos e condições do contrato
          nullable: true
          properties:
            startDate:
              type: string
              format: date
            endDate:
              type: string
              format: date
              nullable: true
            renewalTerms:
              type: string
              nullable: true
        metadata:
          type: object
          additionalProperties: true
          description: Dados adicionais customizados
          nullable: true
        createdAt:
          type: string
          format: date-time
          description: Data de criação
        updatedAt:
          type: string
          format: date-time
          description: Data de última atualização
        deletedAt:
          type: string
          format: date-time
          description: Data de exclusão (soft delete)
          nullable: true

    CreateContractRequest:
      type: object
      required:
        - title
        - status
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 255
        description:
          type: string
          nullable: true
        status:
          type: string
          enum:
            - draft
            - active
        content:
          type: string
          nullable: true
        terms:
          type: object
          nullable: true
          properties:
            startDate:
              type: string
              format: date
            endDate:
              type: string
              format: date
              nullable: true
            renewalTerms:
              type: string
              nullable: true
        metadata:
          type: object
          additionalProperties: true
          nullable: true

    UpdateContractRequest:
      type: object
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 255
        description:
          type: string
          nullable: true
        status:
          type: string
          enum:
            - draft
            - active
            - archived
            - expired
        content:
          type: string
          nullable: true
        terms:
          type: object
          nullable: true
          properties:
            startDate:
              type: string
              format: date
            endDate:
              type: string
              format: date
              nullable: true
            renewalTerms:
              type: string
              nullable: true
        metadata:
          type: object
          additionalProperties: true
          nullable: true

    Pagination:
      type: object
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        totalPages:
          type: integer

    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          description: Código de erro
        message:
          type: string
          description: Mensagem de erro legível
        details:
          type: object
          description: Detalhes adicionais do erro
          additionalProperties: true
          nullable: true
        timestamp:
          type: string
          format: date-time
          description: Momento do erro

  responses:
    BadRequest:
      description: Requisição inválida
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: INVALID_REQUEST
            message: Requisição contém dados inválidos
            details:
              fields:
                - title

    Unauthorized:
      description: Não autenticado
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: UNAUTHORIZED
            message: Credenciais inválidas ou expiradas

    NotFound:
      description: Recurso não encontrado
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: NOT_FOUND
            message: Contrato não encontrado

    UnprocessableEntity:
      description: Entidade não processável
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: UNPROCESSABLE_ENTITY
            message: Dados enviados não podem ser processados

    InternalServerError:
      description: Erro interno do servidor
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: INTERNAL_SERVER_ERROR
            message: Um erro inesperado ocorreu

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - bearerAuth: []

tags:
  - name: Contracts
    description: Operações relacionadas a contratos
